{% extends 'base.html' %}

{% load static %}

<!--close-left-menu-stats-sidebar-->
{% block content %}
<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
  </div>
<!--End-breadcrumbs-->




<!--Action boxes-->
  <div class="container-fluid">
    <div class="quick-actions_homepage">
      <ul class="quick-actions">
        <li class="bg_lb"> <a href="{% url 'main_urls:index' %}"> <i class="icon-dashboard"></i> Home </a> </li>
        <li class="bg_ls"> <a href="{% url 'main_urls:intent_engine' %}"> <i class="icon-tint"></i> Intent Engine </a> </li>
        <li class="bg_lg span3"> <a href="{% url 'main_urls:topology' %}"> <i class="icon-fullscreen"></i> Network Topology</a> </li>
      </ul>
    </div>
<!--End-Action boxes-->

<!--End-Chart-box-->
    <hr/>
  </div>
</div>

<!--End-Chart-box--> 
    <hr/>
  </div>
</div>

<!--end-main-container-part-->
{% endblock %}
