{% extends 'base.html' %}

{% load static %}

<!--close-left-menu-stats-sidebar-->
{% block content %}

<div id="content">
<div id="content-header">
  <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Intent Engine</a> <a href="#" class="current">Common elements</a> </div>

    <h1>Intent Engine</h1>
</div>
<div class="container-fluid">
  <hr>
  <div class="row-fluid">
    <div class="span6">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>Text-based Intent Engine</h5>
        </div>
        <div class="widget-content nopadding">
          <form name="intent_engine" action="{% url 'main_urls:intent_engine' %}" method="post" class="form-horizontal">
            {% csrf_token %}
              <div class="control-group">
              <label class="control-label">Intent:</label>
              <div class="controls">
                <select name = "intent_type">
                  <option value="least_latency">least latency</option>
                  <option value="high_bandwidth">high bandwidth</option>
                  <option value="least_hop_count">least hopcount</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Source Location:</label>
              <div class="controls">
                <select name="source_location">
                  <option value="DENVER">DENVER</option>
                  <option value="SAN FRANCISCO">SAN FRANCISCO</option>
                  <option value="NEW YORK">NEW YORK</option>
                  <option value="CHICAGO">CHICAGO</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Destination Location:</label>
              <div class="controls">
                <select name="destination_location">
                  <option value="DENVER">DENVER</option>
                  <option value="SAN FRANCISCO">SAN FRANCISCO</option>
                  <option value="NEW YORK">NEW YORK</option>
                  <option value="CHICAGO">CHICAGO</option>
                </select>
              </div>
            </div>
              {% if error == True%}
                <span class="error text-danger">Some Errors occurred in the backend</span>
              {% endif %}

			<div class="form-actions">
              <button type="submit" onsubmit="validateForm()" method="post" class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
      </div>

    </div>

  </div>

</div></div>

{% endblock %}
