{% extends 'base.html' %}

{% load static %}

<!--close-left-menu-stats-sidebar-->
{% block content %}

<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="/topology" class="current">Network Topology</a> </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
		
      <div class="span8">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-list"></i> </span>
            <h5>Visual Network Topology</h5>
          </div>
         <div class="widget-content"><div id="mynetwork"></div></div>
        </div>
      </div>
	  
      <div class="span4">
        <div class="widget-box collapsible">
          <div class="widget-title"> <a href="#collapseOne" onclick = "fetchIntents()" data-toggle="collapse" > <span class="icon"><i class="icon-arrow-right"></i></span>
            <h5>Configured Intents</h5>
            </a> </div>
          <div class="collapse" id="collapseOne">
		  	<div class='widget-content'>
			<ul id="intent_list" class="activity-list">
            </ul>
			</div>
          </div>          
		  <div class="widget-title"> <a href="#collapseTwo" data-toggle="collapse" > <span class="icon"><i class="icon-arrow-right"></i></span>
            <h5>Network Details</h5>
            </a> </div>
          <div class="collapse in" id="collapseTwo">
				<div class="widget-content">
					<table class="table table-bordered">
						<h6 id = "eventSpan">Click the switch to view details.</h6>	
					</table>
				</div>
		
          </div>
        </div>
<!--         <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-list"></i> </span>
            <h5>Details</h5>
          </div>
         <div class="widget-content"><pre id="eventSpan"></pre></div>
        </div> -->
      </div>
    </div>
  </div>
</div>

{% endblock %}
